.article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 50%;
}

.section {
  display: flex;
  flex-direction: rows;
  justify-content: center;
}

.input {
  padding: 20px 20px;
  border: 1px solid black;
  border-radius: 6px 0 0 6px;
  border-right: none;
  outline: none;
}

.checkButton {
  cursor: pointer;
}

.kakaoMap {
  width: 500px;
  height: 400px;
}

.main {
  text-align: center;
  cursor: pointer;
}

.findGym {
  font-size: 20px;
}

.locationExample {
  font-size: 15px;
  margin-left: 20%;
}
