.article {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  color: #676666;
  font-weight: bold;
  padding-bottom: 150px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  padding: 25px 10px;
  border: 1px solid black;
  border-radius: 6px 0 0 6px;
  border-right: none;
  outline: none;
  width: 200px;
}

.checkButton {
  cursor: pointer;
}

.kakaoMap {
  width: 500px;
  height: 400px;
  z-index: 1;
}

.main {
  text-align: center;
  cursor: pointer;
  color: #51c457;
  font-weight: bold;
  font-size: 30px;
}

.findGym {
  font-size: 25px;
}

.locationExample {
  font-size: 15px;
  margin-left: 20%;
}
