.textList {
  display: flex;
  /* flex-direction: row; */
  margin-bottom: 30px;
  /* border: 1px solid black; */
  border-radius: 6px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
}

.fix,
.delete {
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  border: none;
  padding: 0 13px;
}

.fix {
  border-radius: 0;
  border-right: 1px solid black;
}

.cancel,
.ok {
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  border: none;
  padding: 0 13px;
}

.ok {
  border-radius: 0;
  border-right: 1px solid black;
}

.textArea,
.textContents {
  background-color: white;
  border: 1px solid white;
  border: none;
  color: black;
  padding: 30px;
  border-radius: 6px 0 0 6px;
  width: 500px;
  margin: 0;
}
.textArea {
  white-space: pre-wrap;
  word-break: break-all;
  /* overflow: auto; */
  cursor: pointer;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (min-width: 1201px) {
  .textArea {
    width: 300px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .textArea {
    width: 200px;
  }
}

@media (max-width: 899px) {
  .textArea {
    width: 100px;
  }
}

@media (max-width: 447px) {
  .textArea {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 447px) and (max-width: 660px) {
  .textArea {
    width: 300px;
    padding: 20px;
  }
}
