.wrapper {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  min-height: 100vh;
}
.auth {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.board {
  border: 1px solid rgb(183, 180, 180);
  height: 100%;
  margin: 0 250px;
  background-color: #f9f9f9;
}

.topTitle {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

.height {
  height: 100%;
}

.title {
  display: flex;
  padding: 50px 20px 10px 95px;
  position: relative;
  font-size: 20px;
}

.modal {
  width: 70px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
  background: #ffffff;
  position: absolute;
  z-index: 99;
}

.item {
  font-size: 12px;
  margin-bottom: 4px;
  cursor: pointer;
}

.click {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 14px;
  background-color: rgb(142, 142, 247);
  border-radius: 8px;
  padding: 10px;
}

.click:disabled {
  color: black;
  cursor: text;
}

.clickhere {
  display: flex;
  font-size: 11px;
  margin-left: 10px;
  align-items: center;
}

.img {
  width: 300px;
  height: 300px;
}

.x {
  display: flex;
  justify-content: right;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 10px;
}
.input {
  width: 80%;
  height: 60px;
  font-size: 20px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 8px;
  padding-left: 10px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contentTitle {
  display: flex;
  justify-content: center;
}
.textareaList {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.textarea {
  width: 81%;
  min-height: 200px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 8px;
  resize: none;
  padding: 20px 0 0 5px;
  background-color: #f9f9f9;
  font-size: 15px;
  margin-bottom: 15px;
}
.fileIcon {
  font-size: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.contentButton {
  width: 80%;
  font-size: 15px;
  background-color: #f9f9f9;
  padding: 20px 0 0 5px;
  border: none;
  min-height: 200px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.confirm {
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: right;
  margin-bottom: 20px;
}

.submitButton {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  font-size: 19px;
  background-color: #8e8ef7;
}

.backToSharePage {
  cursor: pointer;
  border: none;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgba(97, 114, 133, 0.2);
}

.backToShareArea {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.addImage {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imgUpdate {
  height: 30px;
  width: 50px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .board {
    margin: 0 150px;
  }
}
@media (max-width: 800px) {
  .board {
    margin: 0 150px;
  }

  .title {
    padding-left: 70px;
  }
}
@media (max-width: 620px) {
  .board {
    margin: 0 100px;
  }

  .title {
    padding-left: 30px;
  }
}
@media (max-width: 450px) {
  .board {
    margin: 0 50px;
  }

  .title {
    padding-left: 30px;
  }
  .topTitle {
    font-size: 25px;
  }
  .backToSharePage {
    font-size: 14px;
  }
}
