.stopWatch {
  display: flex;
  justify-content: center;
  background-color: rgb(73, 77, 79);
}

.buttons {
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.seconds {
  font-size: 25px;
  font-weight: bold;
  margin: 0 15px;
  color: white;
}
