.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(47, 52, 55);
  color: white;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 200px;
}

.goBack {
  font-size: 40px;
  cursor: pointer;
}

.todayHealth {
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-weight: 800;
}
.login {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 40px;
}

.title {
  margin: 0;
  font-size: 13px;
  margin-bottom: 20px;
}
.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: #ffffff;

  color: black;
  font-size: 20px;
  font-weight: 800;
  width: 60%;
  height: 100%;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(211, 191, 191);
  border-radius: 6px;
  margin-bottom: 50px;
  width: 70%;
}

.input {
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 4px;
}
.errorMessage {
  margin-top: 4px;
  color: #ef0000;
  font-size: 12px;
}
.loginButton {
  margin-top: 16px;
}

.loginButton,
.googleLoginButton {
  padding: 10px 20px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: none;
  background-color: #aaa9a9cd;
  cursor: pointer;
}

.signUp {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}

.findInfo {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.loginBottom {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
