.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  color: white;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.goBack {
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
}

.todayHealth {
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-weight: 800;
}
.login {
  text-align: center;
  padding: 30px 10px;
  font-size: 40px;
}

.title {
  margin: 0;
  font-size: 25px;
  color: rgb(10, 117, 10);
}
.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
  width: 60%;
  height: 100%;
}

.profileImg {
  position: relative;
  text-align: center;
}
.imgIcon {
  cursor: pointer;
  font-size: 100px;
}
.file {
  cursor: pointer;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showingImg {
  width: 96px;
  height: 96px;
  border-radius: 50px;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  width: 70%;
}

.input {
  padding: 25px 10px;
  border: none;
}

.input:first-of-type {
  border-radius: 10px 10px 0 0;
}
.input:last-of-type {
  border-radius: 0 0 10px 10px;
}
.errorMessage {
  margin-top: 4px;
  color: #ef0000;
  font-size: 12px;
}

.loginButton {
  padding: 25px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #03c75a;
  margin-top: 16px;
}

.signUp {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}

.findInfo {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.loginBottom {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .login {
    font-size: 30px;
  }
  .goBack {
    font-size: 30px;
  }
  .todayHealth {
    font-size: 12px;
  }
  .header {
    gap: 100px;
  }
}
@media (max-width: 483px) {
  .login {
    font-size: 25px;
  }
  .goBack {
    font-size: 20px;
  }
  .todayHealth {
    font-size: 10px;
  }
  .header {
    gap: 80px;
  }
}
@media (max-width: 400px) {
  .login {
    font-size: 15px;
    padding: 20px 0;
  }
  .goBack {
    font-size: 15px;
  }
  .todayHealth {
    font-size: 7px;
  }
  .header {
    gap: 80px;
  }
  .title {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .input {
    padding: 5px 10px;
  }
}
