.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(47, 52, 55);
  color: white;
  height: 100%;
}
.width {
  width: 35%;
  padding: 4px;
}
.input {
  height: 100%;
  cursor: pointer;
}

.input:disabled {
  color: white;
  cursor: default;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.timerButton {
  cursor: pointer;
}

.timerButton:disabled {
  cursor: text;
  color: black;
  background-color: #f0f0f0;
}
