.wrapper {
  background-color: rgb(47, 52, 55);
  height: 100px;
  padding-top: 15px;
}
.write {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: gray;
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin: 50px 0 20px 0;
}

.cardStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  place-items: center;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.inputFilter {
  width: 500px;
  height: 20px;
}

.buttonFilter {
  cursor: pointer;
}
