.wrapper {
  display: flex;
  flex-direction: column;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  height: 100%;
  min-width: 100%;
}
.auth {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.board {
  border: 2px solid rgb(81, 79, 79);
  height: 100%;
  margin: 0 100px;
}

.topTitle {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

.title {
  display: flex;
  margin-top: 50px;
  position: relative;
  font-size: 20px;
  color: white;
}

.modal {
  width: 70px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
  background: #ffffff;
  position: absolute;
  z-index: 99;
}

.item {
  font-size: 12px;
  margin-bottom: 4px;
  cursor: pointer;
}

.click {
  width: 100px;
  margin-left: 40px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 14px;
  background-color: rgb(142, 142, 247);
  border-radius: 8px;
  padding: 10px;
}

.typeAndTime {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.click:disabled {
  color: black;
  cursor: text;
}

.clickhere {
  display: flex;
  font-size: 11px;
  margin-left: 10px;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
}

.x {
  display: flex;
  justify-content: right;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 10px;
}
.input {
  width: 80%;
  height: 60px;
  font-size: 25px;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(15, 15, 15);
}
.contentTitle {
  display: flex;
  width: 100%;
}
.textareaList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}

.textarea {
  width: 81%;
  min-height: 50px;
  /* border: 1px solid rgb(198, 198, 198); */
  border-radius: 8px;
  resize: none;
  padding: 20px 0 0 5px;
  background-color: #f9f9f9;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.textareaArea {
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-bottom: 100px;
}

.fileArea {
  display: flex;
  justify-content: right;
}
.userImg {
  font-size: 50px;
  color: rgb(67, 65, 65);
  cursor: pointer;
}

.userId {
  margin: 0;
  font-size: 25px;
  color: white;
}

.userImgAndId {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}

.contentButton {
  font-size: 20px;
  background-color: rgb(15, 15, 15);
  color: #f9f9f9;
  width: 100%;
  border-radius: 8px;
  min-height: 200px;
  padding: 10px 20px;
}

.confirm {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: right;
  margin-bottom: 60px;
}
.confirm > button:first-of-type {
  background-color: blue;
}

.confirm > button:last-of-type {
  background-color: red;
}
.submitButton {
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  color: white;
}

.okCancelButtons {
  margin: 0 auto;
  width: 80%;
  text-align: right;
}

.ok,
.cancel {
  cursor: pointer;
  padding: 25px 10px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(14, 193, 14);
}

.backToSharePage {
  cursor: pointer;
  border: none;
  padding: 40px 20px;
  font-size: 25px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: rgba(145, 162, 181, 0.2);
}
.chat {
  background-color: #8e8ef7;
  padding: 40px 20px;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
}

.backToShareArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  width: 50%;
  margin: 0 auto;
}

.categories {
  margin-left: 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

.image {
  width: 100%;
  overflow: hidden;
}
.addImage {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.detailBody {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .userId {
    font-size: 10px;
  }
  .ok,
  .cancel {
    padding: 10px 5px;
    font-size: 12px;
  }
  .board {
    margin: 0 10px;
  }
  .typeAndTime {
    font-size: 10px;
  }
  .backToSharePage,
  .chat {
    padding: 10px 5px;
    font-size: 10px;
  }
  .backToShareArea {
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .userId {
    font-size: 20px;
  }
  .ok,
  .cancel {
    padding: 20px 10px;
    font-size: 12px;
  }
  .board {
    margin: 0 10px;
  }
  .backToShareArea {
    width: 80%;
  }
}
