.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(47, 52, 55);
  color: white;
  justify-content: center;
  align-items: center;
}
.todayHealth {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  padding: 10px 0;
  color: black;
  margin-right: 150px;
  margin-bottom: 40px;
  font-weight: 800;
}
.find {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.login {
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
}

.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  width: 60%;
  height: 100%;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(211, 191, 191);
  border-radius: 6px;
  margin-bottom: 50px;
  width: 70%;
}

.input {
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 4px;
}
.errorMessage {
  margin-top: 4px;
  color: #ef0000;
  font-size: 12px;
}
.loginButton {
  margin-top: 16px;
}

.loginButton,
.googleLoginButton {
  padding: 10px 20px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: none;
  background-color: #aaa9a9cd;
  cursor: pointer;
}

.signUp {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}

.findInfo {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.loginBottom {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .todayHealth {
    margin-right: 90px;
  }
}
@media (max-width: 440px) {
  .todayHealth {
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .login {
    font-size: 20px;
    padding: 15px;
  }

  .loginButton {
    padding: 5px 10px;
  }
  .input {
    padding: 5px 10px;
  }
}
@media (max-width: 400px) {
  .todayHealth {
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .login {
    font-size: 15px;
    padding: 5px;
  }

  .loginButton {
    padding: 5px 5px;
    font-size: 10px;
  }
  .input {
    padding: 5px 5px;
    font-size: 10px;
  }
}
