.textLine {
  position: relative;
  margin: 15px auto;
  display: flex;
  padding: 10px;
  width: 80%;
  font-size: 13px;
  background-color: rgb(216, 215, 215);
  border-radius: 6px;
}

.textLine > span {
  background-color: #8e8ef7;
  border-radius: 6px;
  padding: 2px 5px;
  margin-right: 15px;
}

.button {
  border: none;
  font-size: 8px;
  background-color: rgb(216, 215, 215);
  letter-spacing: 1px;
  cursor: pointer;
}

.buttonList {
  position: absolute;
  right: 0px;
}
