.wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 100px 100px;
  text-align: center;
  border-top: 1px solid gray;
  background-color: rgb(73, 77, 79);
  color: white;
}
.footerDesc {
  margin-bottom: 8px;
}

.footerTitle {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}

.completed {
  font-size: 20px;
  font-weight: bold;
}
