.snowFlake {
  color: rgba(243, 226, 242, 0.934);
  position: absolute;
  top: -1px;
  animation: fall 10s linear;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
