.style {
  position: relative;
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}

.component {
  position: relative;
  border: 1px solid black;
  width: 25%;
  height: 320px;
  cursor: pointer;
  min-width: 300px;
  overflow: hidden;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 10px;
  margin: 0 0 40px 0;
}
.type {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 3px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.userId {
  position: absolute;
  font-size: 12px;
  background-color: #8e8ef7;
  padding: 5px 10px;
  border-radius: 8px;
  bottom: 2px;
  right: 2px;
}

.images {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.imageArea {
  margin-top: 30px;
}

.x {
  padding: 5px;
}

.contentArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: rgb(239, 239, 239);
}
