.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1000px;
  background: rgb(47, 52, 55);
  color: white;
  justify-content: center;
  align-items: center;
}
.todayHealth {
  cursor: pointer;
}
.login {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 80px;
}

.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  width: 60%;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(211, 191, 191);
  border-radius: 6px;
  margin-bottom: 50px;
  width: 70%;
}

.input {
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 4px;
}
.errorMessage {
  margin-top: 4px;
  color: #ef0000;
  font-size: 12px;
}
.loginButton {
  margin-top: 16px;
}

.loginButton,
.googleLoginButton {
  padding: 10px 20px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: none;
  background-color: #aaa9a9cd;
  cursor: pointer;
}

.signUp {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}

.findInfo {
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.loginBottom {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 570px) {
  .login {
    font-size: 60px;
  }
  .signUp {
    padding: 15px 25px;
    font-size: 12px;
  }
  .findInfo {
    padding: 15px 25px;
    font-size: 12px;
  }
}
@media (max-width: 406px) {
  .login {
    font-size: 45px;
  }
  .loginPage {
    padding: 15px;
    margin-bottom: 20px;
  }
  .signUp {
    padding: 10px 20px;
    font-size: 12px;
  }
  .findInfo {
    padding: 10px 20px;
    font-size: 12px;
  }
}
@media (max-width: 367px) {
  .login {
    font-size: 30px;
  }
  .signUp {
    padding: 10px 10px;
    font-size: 8px;
  }
  .findInfo {
    padding: 10px 10px;
    font-size: 8px;
  }
  .loginMain {
    margin-bottom: 10px;
  }
  .loginButton {
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 9px;
  }
  .googleLoginButton {
    padding: 8px 15px;
    font-size: 9px;
  }
}
