.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.login {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.loginMethod {
  margin-bottom: 150px;
  font-size: 30px;
}

.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0px auto;
  color: black;
  font-size: 20px;
  font-weight: 800;
  width: 60%;
}

.loginPage {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 50px;
  width: 70%;
}

.input {
  padding: 25px 10px;
}

.input::placeholder {
  padding-left: 5px;
}

.input:first-of-type {
  border-radius: 10px 10px 0px 0px;
}

.input:nth-of-type(2) {
  border-radius: 0px 0px 10px 10px;
}

.errorMessage {
  margin-top: 4px;
  color: #ef0000;
  font-size: 12px;
}
.loginButton {
  margin-top: 16px;
  padding: 13px 0;
  background-color: #03c75a;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.googleLoginBtnText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.googleLoginButton {
  padding: 25px 0px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  background-color: #aaa9a9cd;
  cursor: pointer;
  width: 50%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(51, 51, 235);
  transition: transform 0.3s ease-in-out;
}
.googleLoginButton:hover,
.idPwLoginBtn:hover,
.signUp:hover,
.findInfo:hover {
  transform: scale(1.1);
}

.idPwLoginBtn,
.signUp,
.findInfo {
  padding: 25px 0px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: rgb(255, 255, 0);
  color: rgb(36, 36, 36);
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.loginBottom {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 570px) {
  .login {
    font-size: 60px;
  }
  .signUp {
    padding: 15px 25px;
    font-size: 12px;
  }
  .findInfo {
    padding: 15px 25px;
    font-size: 12px;
  }
}
@media (max-width: 406px) {
  .login {
    font-size: 45px;
  }
  .loginPage {
    padding: 15px;
    margin-bottom: 20px;
  }
  .signUp {
    padding: 10px 20px;
    font-size: 12px;
  }
  .findInfo {
    padding: 10px 20px;
    font-size: 12px;
  }
}
@media (max-width: 367px) {
  .login {
    font-size: 30px;
  }
  .signUp {
    padding: 10px 10px;
    font-size: 8px;
  }
  .findInfo {
    padding: 10px 10px;
    font-size: 8px;
  }
  .loginMain {
    margin-bottom: 10px;
  }
  .loginButton {
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 9px;
  }
  .googleLoginButton {
    padding: 8px 15px;
    font-size: 9px;
  }
}
