.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-shadow: -1px -8px 13px -1px rgba(180, 173, 173, 0.12);
  -webkit-box-shadow: -1px -8px 13px -1px rgba(180, 173, 173, 0.12);
  -moz-box-shadow: -1px -8px 13px -1px rgba(180, 173, 173, 0.12);
  border-radius: 20px 20px 0 0;
  border: 1px solid #6c6a6a;
  border-bottom: none;
}

.footerFuncs {
  text-align: center;
  padding: 10px 5px;
  color: #6c6a6a;
  font-weight: bold;
  cursor: pointer;
}

.calendarIcon,
.routineIcon,
.setIcon,
.searchIcon {
  font-size: 40px;
}
