.wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 100px 100px;
  text-align: center;
  border-top: 1px solid gray;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: white;
  min-height: 10px;
}
.footerDesc {
  margin-bottom: 8px;
}

.footerTitle {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}

.completed {
  font-size: 20px;
  font-weight: bold;
}

.timerButton {
  width: 50%;
  height: 100px;
  cursor: pointer;
  font-size: 35px;
}
.timerButton span {
  font-size: 15px;
}

.footerContent {
  margin-bottom: 50px;
}

@media (min-width: 280px) and (max-width: 450px) {
  .footerTitle {
    font-size: 24px;
    font-weight: bold;
  }
  .wrapper {
    padding: 30px 20px 30px;
  }
  .footerDesc {
    font-size: 12px;
  }
}
@media (min-width: 450px) and (max-width: 1000px) {
  .footerTitle {
    font-size: 35px;
    font-weight: bold;
  }
  .wrapper {
    padding: 40px 30px 30px;
  }
  .footerDesc {
    font-size: 14px;
  }
}
